In [4]:
a_list=['a','b','c']
type (a_list)

list

In [3]:
b_tuple=('aa','bb','cc')
type(b_tuple)

tuple

In [5]:
a_list[0]='zz'
a_list

['zz', 'b', 'c']

In [6]:
list(b_tuple)

['aa', 'bb', 'cc']

In [9]:
a=['1','2','3']

In [10]:
b=['4','5','6']

In [12]:
a.extend(b)
a

['1', '2', '3', '4', '5', '6', '4', '5', '6']

In [15]:
a=['1','2','3']
b=['4','5','6']
a.append(b)
a

['1', '2', '3', ['4', '5', '6']]

In [16]:
a=['1','2','3']
b=['4','5','6']
a+=b
a

['1', '2', '3', '4', '5', '6']

In [17]:
a.insert(2,'x')
a

['1', '2', 'x', '3', '4', '5', '6']

In [19]:
del a[2]
a

['1', '2', '3', '4', '6']

In [20]:
a.index('2')

1

In [21]:
'5' in a

False

In [22]:
'2' in a

True

In [23]:
a=['2','1','3','3','3']
a.count('3')

3

In [24]:
len(a)

5

In [26]:
a.sort()
a

['1', '2', '3', '3', '3']

In [29]:
a.sort(reverse=True)
a

['3', '3', '3', '2', '1']

In [30]:
c=a.copy()

In [31]:
a[0]='x'

In [32]:
a

['x', '3', '3', '2', '1']

In [35]:
c

['3', '3', '3', '2', '1']

In [36]:
c=a

In [37]:
a[0]='y'

In [38]:
a

['y', '3', '3', '2', '1']

In [39]:
c

['y', '3', '3', '2', '1']

In [72]:
e=[('1','a'),('2','b')]

In [46]:
class_f={'m1':'amy','m2':'Alice'}
class_f

{'m1': 'amy', 'm2': 'Alice'}

In [48]:
class_f1={'m3':'mimi','m4':'brian'}
class_f.update(class_f1)
class_f

{'m1': 'amy', 'm2': 'Alice', 'm3': 'mimi', 'm4': 'brian'}

In [55]:
del class_f1['m3']
class_f

{'m1': 'amy', 'm2': 'Alice', 'm3': 'mimi', 'm4': 'brian'}

In [52]:
class_f.keys()

dict_keys(['m1', 'm2', 'm3', 'm4'])

In [54]:
class_f.values()

dict_values(['amy', 'Alice', 'mimi', 'brian'])

In [56]:
set('abcaabcabc')

{'a', 'b', 'c'}

In [61]:
d1={'item1':{'tea','coffee'},'item2':{'black tea','coffee'},'item3':{'cola','sprit'}}
d1

{'item1': {'coffee', 'tea'},
 'item2': {'black tea', 'coffee'},
 'item3': {'cola', 'sprit'}}

In [65]:
for name,content in d1.items():
    if 'coffee'in content :
        print (name,content)

item1 {'tea', 'coffee'}
item2 {'black tea', 'coffee'}

In [66]:
for name,content in d1.items():
    if 'coffee'in content and 'tea' not in content:
        print (name,content)

item2 {'black tea', 'coffee'}

In [67]:
d1.items()

dict_items([('item1', {'tea', 'coffee'}), ('item2', {'black tea', 'coffee'}), ('item3', {'cola', 'sprit'})])

In [69]:
type(d1.items())

dict_items

In [73]:
m=['G','C','H']
m

['G', 'C', 'H']

In [74]:
m.append('Z')

In [75]:
m

['G', 'C', 'H', 'Z']

In [76]:
m.pop()

'Z'

m

In [77]:
m

['G', 'C', 'H']

In [78]:
m.insert(0,'Z')

In [80]:
m

['Z', 'G', 'C', 'H']

In [81]:
m.pop()

'H'

In [82]:
m

['Z', 'G', 'C']

In [83]:
m.pop(0)

'Z'

In [84]:
m

['G', 'C']

In [100]:
x=input()

122344

In [102]:
len(set(x)) != len(x)

True

In [105]:
legend = True
if legend:
    print("it's true")
else:
    print("it's false")

it's true

In [107]:
i_man=False
Tony=False
if i_man:
    if Tony:
        print("he is superman")
    else:
        print("he is officer")
else:
    if Tony:
        print('he is playboy')
    else:
        print('he is actor')

he is actor

In [111]:
i_man="red"
if i_man=="red":
    print('supperman hat is red')
elif i_man=="green":
    print('supperman hat is green')

supperman hat is red

In [113]:
count = 1
while count <=10:
    print(count)
    count+=1

1
2
3
4
5
6
7
8
9
10

In [3]:
while True:
    name = input("clicked q for cancel...guess who am i? ")
    if name=="q":
        break
        print("you never guess it")

clicked q for cancel...guess who am i? w
clicked q for cancel...guess who am i? e
clicked q for cancel...guess who am i? q

In [6]:
x="77"
while True:
    name = input("input")
    if name == x:
        break
    else:
        continue

input99
input22
input77

In [35]:
for x in range(10):
    for y in range(10):
        if x>1 and y>1 :
            print(x,'x',y,'=', x * y,'')

2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [37]:
x = 10
while (x > 0):
    x -= 1
    if x == 5:
        break
    print('aaaa',x)

aaaa 9
aaaa 8
aaaa 7
aaaa 6

In [93]:
list_a = ['台','北','市','大','安','區']
#type(list_a)
list_b = ['敦','化','南','路']
type(list_b)
list_a.extend(list_b)
print(list_a)
del list_a[3]
print(list_a)
list_a.insert(3,'大')
print(list_a)
list_t = list_a.copy() + list_b.copy()
print(list_t)

['台', '北', '市', '大', '安', '區', '敦', '化', '南', '路']
['台', '北', '市', '安', '區', '敦', '化', '南', '路']
['台', '北', '市', '大', '安', '區', '敦', '化', '南', '路']
['台', '北', '市', '大', '安', '區', '敦', '化', '南', '路', '敦', '化', '南', '路']

In [124]:
list_a = ['台','北','市','大','安','區']
#type(list_a)
list_b = ['敦','化','南','路']
for str_t in list_a :
    str_a += str_t
    #print(str_t)
print(str_a)
str_a =''

台北市大安區

In [143]:
dic_a ={"alice":"singapore","mimi":"taiwain","rebecca":"american"}
dic_b ={"john":"hongkong","david":"japan","eric":"korea"}
dic_a.update(dic_b)
type(dic_a)
dic_a.keys()
dic_a.values()
dic_a.items()
for name,country in dic_a.items():
    if name=='rebecca':
       print(country)

american

In [151]:
t= 100
def sum(a,b):
    t = a + b
    return t
sum(100,200)
sum(2,3)
print (t)

100

In [224]:
a=[1,2,3,4,5,6,7,8,9,10]
def sum1(g):
    t1=g*g
    return t1
for x in a :
    t = t +sum1(x)
print(t)
t = 0

385

In [235]:
a,b =[1,2,3],[100,200,300]
xy=[x + y for x in a for y in b]
print(xy)

[101, 201, 301, 102, 202, 302, 103, 203, 303]